html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    background: #c6ebf7; 
  }

h1{
    font-family: "Monaco", Monaco, monospace;
    font-size: 6em;
    color: #191715;
}

.typewriter{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.typewriter::after{ 
    /*content: url('letter-cursor.png') 8 8, auto; */ 
    content: '|';
    position: absolute;
    right: 0;
    color: white;
    background-color: #c6ebf7;
    width: 100%;
    height: 40%;
    animation: typing 4s steps(20) alternate infinite,
                line 2s infinite;
}
@keyframes typing{
    to{
        width: 0%;
    }
}
@keyframes line {
    40%{
        color: transparent;
        height: 40%;
    }
}

 .button_slide {
    color: #0e0d0d;
    border: 2px solid rgb(40, 66, 124);
    border-radius: 5px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #f1db9d;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  
  .slide_down:hover {
    box-shadow: inset 0 100px 0 0 #f1db9d;
  }
  
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #f1db9d;
  }
  
  #outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
  }