* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pfp {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    border: 2px solid black;
}

.sidenav {
    height: 100%;
    background-image: linear-gradient(45deg, #ffffff, #ddf9ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}


.main {
    padding: 3%;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .main{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
}