{% extends 'base.html' %}

{% block content %}
  <h1>Chat Room</h1>
  
  <h2>Create Chat Room</h2>
  <form action="{{ url_for('chatroom') }}" method="POST">
    {{ create_form.hidden_tag() }}
    <p>{{ create_form.room_id.label }}<br>
      {{ create_form.room_id(size=5) }}</p>
    <p>{{ create_form.submit() }}</p>
  </form>
  
  <h2>Join Chat Room</h2>
  <form action="{{ url_for('chatroom') }}" method="POST">
    {{ join_form.hidden_tag() }}
    <p>{{ join_form.valid_room_id.label }}<br>
      {{ join_form.valid_room_id(size=5) }}</p>
    <p>{{ join_form.submit() }}</p>
  </form>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          <div class="alert alert-danger">
            {{ message }}
          </div>
        {% else %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}

{% endblock %}