{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<style>
  a {
    text-decoration: none;
  }
 </style> 
<h1 class="typewriter"> Welcome 👋🏻</h1> 
<div style="text-align: center;">
  <img src = "{{ url_for('static', filename='131_logo.jpg') }}" alt ="website logo"> 
</div>
<div id="outer">
  <a href="/register" class="button_slide slide_right">Register</a>
  <br> <br><br>
  <a href="/login" class="button_slide slide_right">Login</a>
</div> 
        
{% endblock %}
