{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<style>
  a {
    text-decoration: none;
  }
</style> 
<h1 class="typewriter">Welcome to our email application</h1> 
  
<div id="outer">

  <br /> <br /><br />
  <a href="/register" class="button_slide slide_right">Register</a>
  <br /> <br /><br />
  <a href="/login" class="button_slide slide_right">Login</a>
  <br /> <br /><br />
  <br /> <br /><br />
</div> 
        
{% endblock %}
