{% extends "base.html"%}

{% block content %}
<!-- <form action="" method="POST" novalidate>
    {{bform.hidden_tag()}} {{pform.hidden_tag()}} {{dform.hidden_tag()}}
    <h2>Hello {{user.fullname}}! </h2>
    <h3 style="display: inline;">Username:</h3>
    <p style="display: inline;">{{user.username}}</p>
    <p> {{bform.bio.label}} <br> 
        {{bform.bio(size=32)}}</p>
    <a href="{{url_for('delete_bio', id=user.id)}}">Delete Bio</a>

    <p>{{bform.submit()}}</p>
    <br> 
    <h3>Want to change your password?</h3>
    <p>{{pform.old_password.label}} <br>
        {{pform.old_password(size=32)}}</p>
    <p>{{pform.new_password.label}} <br>
        {{pform.new_password(size=32)}}</p>
    <p>{{pform.submit()}}</p>

    <br><br><br>
    <h3>Want to delete your account?</h3>
    <p>{{dform.password.label}} <br>
        {{dform.password(size=32)}}</p>
    <p>{{dform.submit()}}</p>
</form> -->
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <title>Profile Page</title>
</head>
<body>
    <section class="section_top">
        <h1>Hello {{user.fullname}}!</h1>
        <p>Username: {{user.username}}</p>
        <form action="{{url_for('profile')}}" method="POST" novalidate id="bform">
            {{bform.hidden_tag()}}
            <p>{{bform.bio(size=100, class="form-control text-center")}}</p>
            <div class="bform_buttons">
                <a>{{bform.submit(class="btn btn-primary")}}</a>
                <a class="btn btn-danger" href="{{url_for('delete_bio', id=user.id)}}">Delete Bio</a>
            </div>
        </form>
    </section>
    <section class="section_bottom">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">Want to change your password?</h5>
                <h6 class="card-subtitle mb-2 text-muted">Create a new password below.</h6>
                <form action="{{url_for('profile')}}" method="POST" novalidate id="pform">
                    {{pform.hidden_tag()}}
                    <p>{{pform.old_password.label}} {{pform.old_password(size=32, class="form-control")}}</p>
                    {% for error in pform.old_password.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                    <p>{{pform.new_password.label}} {{pform.new_password(size=32, class="form-control")}}</p>
                    {% for error in pform.new_password.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                    <p>{{pform.confirm.label}} {{pform.confirm(size=32, class="form-control")}}</p>
                    {% for error in pform.confirm.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                    <p>{{pform.submit(class="btn btn-success")}}</p>
                </form>
            </div>
        </div>        
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">Want to delete your account?</h5>
                <h6 class="card-subtitle mb-2 text-muted">Note: This will PERMANENTLY delete your account.</h6>
                <form action="{{url_for('profile')}}" method="POST" novalidate id="dform">
                    {{dform.hidden_tag()}}
                    <p>{{dform.password.label}} {{dform.password(size=32, class="form-control")}}</p>
                    {% for error in dform.password.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                    <p>{{dform.submit(class="btn btn-danger")}}</p>
                </form>
            </div>
        </div>
    </section>
</body>

{% endblock %}