{% extends "base.html"%}

{% block content %}
<h1>Register</h1>
<form action="/register" method="POST" nonvalidate>
    {{registerForm.hidden_tag()}}
    <p> {{registerForm.fullname.label}}<br>
       {{registerForm.fullname(size=32)}}</p>
    <p> {{registerForm.username.label}} <br>
       {{registerForm.username(size=32)}}</p>

    <p> {{registerForm.password.label}} <br>
       {{registerForm.password(size=32)}}</p>
 {%for error in registerForm.password.errors%}
    <span style= "color: red;">[{{error}}]</span>
    {%endfor %}
    <p> {{registerForm.confirm.label}} <br>
       {{registerForm.confirm(size=32)}}</p>>  
    {%for error in registerForm.confirm.errors%}
    <span style= "color: red;">[{{error}}]</span>
    {%endfor %}
    <p>{{registerForm.submit()}}</p>
</form>
<a href = "/login">
      <button type="submit2" name="submit_button2">Login</button>
    </a>
{% endblock %}
