<!DOCTYPE html>
<html>
{% extends "base.html"%}

{% block content %}
<h1>Email Page</h1>
<form action="" method="POST" novalidate>
    {{send_emails_form.hidden_tag()}} {{send_emails_form.hidden_tag()}}
    <p>
        {{send_emails_form.recipients.label}} <br>
        {{send_emails_form.recipients(size=50)}}
    </p>
    <p>
        {{send_emails_form.subject.label}} <br>
        {{send_emails_form.subject(size=50)}}
    </p>

    <p>
        {{send_emails_form.email_body.label}} <br>
        {{send_emails_form.email_body(rows=10, cols=80)}}
    </p>

    <p>{{send_emails_form.submit()}}</p>
</form>

<a href="/homepage">
    <button type="submit2" name="submit_button2">Homepage</button>
</a>

{% endblock %}
</html>
