<!DOCTYPE html>
<html>
{% extends "base.html"%}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/send_emails.css') }}">
  </head>
  
<h1>Email Page</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger">
  <ul class="list-unstyled">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endwith %}
<form action="" method="POST" novalidate>
    {{send_emails_form.hidden_tag()}} {{send_emails_form.hidden_tag()}} 
    <div class="card">
    <div class="container">
    <p> 
        {{send_emails_form.recipients.label}} <br>
        {{send_emails_form.recipients(size=100)}}
        {% for error in send_emails_form.subject.errors %}
        <span class="text-danger">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{send_emails_form.subject.label}} <br>
        {{send_emails_form.subject(size=100)}}
        {% for error in send_emails_form.subject.errors %}
        <span class="text-danger">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{send_emails_form.email_body.label}} <br>
        {{send_emails_form.email_body(rows=10, cols=80)}}
        {% for error in send_emails_form.subject.errors %}
        <span class="text-danger">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{send_emails_form.submit()}}</p>
    {% for error in send_emails_form.submit.errors %}
    <span class="text-danger">[{{ error }}]</span>
    {% endfor %}
</form>

<a href="/homepage">
    <button type="button" class="btn btn-danger">Discard</button>
</a> 
</div>
</div>

{% endblock %}
</html>
 