{% extends "base.html"%}

{% block content %}
<h1>TODO List</h1>
<a href="{{url_for('homepage')}}">Homepage</a>
<h2>Hello {{user.fullname}}</h2>
<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <p> {{form.task.label}} <br>
       {{form.task(size=32)}}</p>

       {% if tasks %}
            {% for t in tasks %}
                <li><a href="{{url_for('delete_task', id=t.id)}}">Delete</a> {{t.task}}</li>
            {% endfor %}
        {% else %}
            <p>There are no tasks.</p>
       {% endif %}

    <p>{{form.submit()}}</p>
</form>
{% endblock %}