{% extends "base.html"%}

{% block content %}
<head>
    <title>Todo Page</title>
</head>
<body>
    <section class="vh-100" style="background-color: #fafafa;">

        {% for messages in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{messages}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-9 col-xl-7">
            <div class="card rounded-3" style=" box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);">
                <div class="card-body p-4">
    
                <h4 class="text-center my-3 pb-3">To Do List</h4>
    
                <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2" action=""  novalidate method="POST">
                    {{form.hidden_tag()}}
                    <label class="form-label" for="task_form">Enter a task here</label>
                    <div class="col">
                        {{form.task(size=32, id=task_form, class="form-control")}}
                    </div>
    
                    <div class="col">
                    {{form.submit(class="btn btn-primary")}}
                    </div>
                </form>
    
                <table class="table mb-4">
                    <thead>
                        <tbody>
                            {% if tasks %}
                            <tr>
                                <th scope="col">Tasks</th>
                                <th scope="col">Time Added</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        {% for t in tasks %}
                            <tr>
                                {% if not t.finished %}
                                    <td>{{t.task}}</td>
                                {% else %}
                                    <td><strike>{{t.task}}</strike></td>
                                {% endif %}
                                <td>
                                    <p>{{t.timestamp.strftime("%b %d, %Y %H:%M:%S")}}</p>
                                </td>
                                <td>
                                    <a style="margin: 3%;" href="{{url_for('delete_task', id=t.id)}}" class="btn btn-danger">Delete</a>
                                    {% if not t.finished %}
                                        <a href="{{url_for('finish_task', id=t.id)}}" class="btn btn-success">Finish</a>
                                    {% else %}
                                        <a href="{{url_for('finish_task', id=t.id)}}" class="btn btn-success">Cancel</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <p>You have no tasks.</p>
                    {% endif %}
                    </tbody>
                </table>
    
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
</body>
{% endblock %}