{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/chat.css')}}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  </head>
  <h2> Emails: </h2>
  <body>
    <div class="content">
        <div class="search-box">
          <input type="text" id="search-bar" placeholder="Search Emails...">
          <select id="search-type">
            <option value="user">Search by User</option>
          </select>
          <button id="search-btn" onclick="searchEmails()">Search</button>
	  
	  
	  {% if emails %}
    		{% for email in emails %}
		<div class="message-boxE">
      		<p>
        	<div class="emails">
            	<p>Time: {{ email.timestamp }} </p>
            	<p>From: {{ email.sender_username}} </p>
            	<p> Subject: {{ email.subject}} </p>
           	<p> Body: {{ email.email_body }} </p>
            	<p>
                <a href="/send_emails">
                    <button type="submit6" name="submit_button6">Reply</button>
                </a>
            </p>
        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- create big whitespace in between emails-->
		</div>
 	
      	</p>
    	{% endfor %}
	{% else %}
 		 <p>No Emails received.</p>

	{% endif %}
     	</div>
    </div>


    <script type="text/javascript">
      var socketio = io();

      const emails = document.getElementById("email.sender_username");

      const searchEmails = () => {
        const searchBar = document.getElementById("search-bar");
        const filter = searchBar.value.toUpperCase();
        const emailTexts = emails.querySelectorAll(".text");
        const searchType = document.getElementById("search-type").value;

        for (let i = 0; i < emailTexts.length; i++) {
          const text = emailTexts[i].getElementsByTagName("span")[0];
          const txtValue = text.textContent || text.innerText;
          const user = emailTexts[i].getElementsByTagName("strong")[0].textContent;
    
          if (searchType === "email.sender_username") {
            }
          }
        }
    };
    </script>
  </body>
</html>
  
{% endblock %}
