{% extends "base.html" %}

{% block content %}
<h1>Emails page for {{user.fullname}}</h1>
<p>      
    <a href="/homepage">
        <button type="submit6" name="submit_button6">Homepage</button>
    </a>
</p>
<!--doing some passsing parameters so the user will be redirected to a page with the thread id  --> 
{% if emails %}
    {% for email in emails %}
      <p>
        <div class="emails"> 
            <p>Time: {{ email.timestamp }} </p>
            <p>From: {{ email.sender_username}} </p>
            <p> Subject: {{ email.subject}} </p>
            <p> Body: {{ email.email_body }} </p>
            <p>      
                <a href="/send_emails">
                    <button type="submit6" name="submit_button6">Reply</button>
                </a>
            </p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- create big whitespace in between emails--> 
    </div>
      </p>
    {% endfor %}
{% else %}
  <p>No Emails received.</p>

{% endif %}

<script>
    // When the user scrolls down 20px from the top of the document, slide down the navbar
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("navbar").style.top = "0";
      } else {
        document.getElementById("navbar").style.top = "-50px";
      }
    }
    </script>


{% endblock %}